.projects-container {
    padding: 20px;
    background-color: #f4f4f4;
}

.project-item {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
}

.project-item h2 {
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.project-item a {
    display: inline-block;
    background-color: #2c2c2c;
    color: #f0c040;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.project-item a:hover {
    background-color: #f0c040;
    color: #2c2c2c;
}
