.projects-container {
    padding: 20px;
    background-color: #ffffff; /* White background */
}

.project-item {
    background-color: #f7f7f7; /* Light gray background */
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid #e0e0e0; /* Light gray border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.project-item h2 {
    border-bottom: 1px solid #e0e0e0; /* Light gray */
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.project-item a {
    display: inline-block;
    background-color: #007BFF; /* Blue accent color */
    color: #ffffff; /* White text */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.project-item a:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
